@page
@model RazorPageExample.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<h5>Contact Us</h5>
<p>We’d love to hear from you! Reach out to us using the details below.</p>

<h5>Corporate Office</h5>
<p>
    Wipro Limited <br>
    Doddakannelli, Sarjapur Road <br>
    Bengaluru, Karnataka 560035 <br>
    India
</p>

<h5>Customer Support</h5>
<p>Email: <a href="mailto:support@wipro.com">support@wipro.com</a></p>
<p>Phone: +91 80 2844 0011</p>

<h5>Follow Us</h5>
<ul>
    <li><a href="https://www.linkedin.com/company/wipro">LinkedIn</a></li>
    <li><a href="https://twitter.com/Wipro">Twitter</a></li>
    <li><a href="https://www.facebook.com/WiproTechnologies">Facebook</a></li>
</ul>

